.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.react-numeric-input b {
    background-color:#7550ec !important;
}

.App-link {
  color: #09d3ac;
}
.active {
  color: white;
}
.links a:hover {
  color: #09d3ac;
}

.form {
  margin: 0 auto;
  padding: 100px 30px 0;
}

.input-range {
  margin-bottom: 160px;
}
.MuiSlider-thumb {
  background-color: #07d3b5 !important;
  width: 20px !important;
  height: 20px !important;
}
.MuiSlider-track {
  background-color: #6383ea !important;
  height: 8px !important;
}
.MuiSlider-rail {
  background-color: #6383ea !important;
  height: 8px !important;
}
.MuiSlider-root {
  height: 8px !important;
}

button:focus {
  outline: none !important;
}

@media screen and (min-width: 0px) and (max-width: 850px) {
  #sliderRange { width: 200px }  /* show it on small screens */
  .heighfix {
    height: auto !important;
  }
}
.heighfix {
  height: 300px;
}
.MuiPaper-elevation1 {
  box-shadow: 4px -2px 20px 1px rgba(0, 0, 0, 0.28), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

.slide-show .ss-fixed-height .ss-slide-image > img {

    width: 100% !important;
    margin:"10px" !important;
  }
  /* @media only screen and (min-width: 481px) {
     div#example1 {
       background-image: url("bg.png");
     }
    } */

    /* @media only screen and (max-width: 481px) {
     div#example1 {
       background-image: none;
     }
    } */

    
  #example1 {
    width: 100%;
    height: 100vh;
    background-color: "#ecfdfa";
    background-image: url('/images/login_bg_right.png'), url('/images/login_bg_left.png');
    background-position: right bottom, left bottom;
    background-repeat: no-repeat;
    }

    .notes {
  border: 1px solid #f44336;
}
